*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
main{
    margin-left: 5rem;
}
.container__header{
    background-color: rgb(150, 143, 135);
    width: max-content;
    height: 1000vh;
    position: fixed;
    align-items: center;
   
}

.mark__logo{
    width: 50px;
}
.nav__item{
    width: 100%;
}
.nav__link{
    display: flex;
    align-items: center;
}
.icon__link{
    font-size: 2rem;
    color: rgb(137, 69, 192);
}
.nav__link i {
    min-width: 1rem;
    margin: .3rem .5rem;
   
}
.container__header:hover{
    width: 8rem;
}
.container__header:hover .nav__name{
    display: block;
}
.nav__name{
    margin-left: .3rem;
    display: none;
}
